<div class="activities">
  <div class="row align-items-center">
    <div class="col-md"><h2>Activities</h2></div>
    <div class="col-md-auto">
      <a href="/dashboard/activities/add" class="btn btn-primary">New activity</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Type</th>
              <th>Status</th>
              <th>Date(End-Start)</th>
              <th>Exercise</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let activity of activities; index as i;">
              <td>{{ activity.title }}</td>
              <td>{{ activity.description }}</td>
              <td>{{ activity.type }}</td>
              <td>
                <span *ngIf="activity.status" class="badge bg-success">Enabled</span>
                <span *ngIf="!activity.status" class="badge bg-danger">Disabled</span>
              </td>
              <td><small><span class="mx-1 badge bg-secondary">{{ activity.date[0] }}</span><span class="mx-1 badge bg-secondary">{{ activity.date[1] }}</span></small></td>
              <td>
                <a href="/dashboard/exercise" class="btn rounded-pull badge bg-primary text-white">exercise</a>
              </td>
              <td>
                <a href="/dashboard/exercise/delete" class="mx-1"><img src="assets/imgs/icons/trash.png" alt=""></a>
                <a href="/dashboard/exercise/update" class="mx-1"><img src="assets/imgs/icons/edit.png" alt=""></a>
                <a (click)="showMore(i)" class="mx-1"><img src="assets/imgs/icons/more.png" alt=""></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="more" *ngIf="showPopup">
    <div class="box notche p-3">
      <div class="container">
        <div class="row my-3 align-items-center">
          <div class="col-md">
            <div class="title">
              <span><strong>Activities: </strong>{{ activeElement.title }} </span>
              <span *ngIf="activeElement.status" class="badge bg-success rounded-pill">Active</span>
              <span *ngIf="!activeElement.status" class="badge bg-danger">Disabled</span>
              <a (click)="showEdit(activeElement.id)" class="mx-3"><img width="25" src="assets/imgs/icons/edit.png"></a>
            </div>
          </div>
          <div class="col-md-auto">
            <a><span (click)="hideMore()" class="text-danger"><img width="16" src="assets/imgs/icons/close.png" alt=""></span></a>
          </div>
        </div>
        <hr>
        <p class="description">{{ activeElement.description }}</p>
        <div class="row details">
          <div class="col-md-12 mb-3">
            <strong>Type: </strong>{{ activeElement.type }}
          </div>
          <div class="col-md-6 mb-3">
            <strong>Start date:</strong> {{ activeElement.date[0] }}
          </div>
          <div class="col-md-6 mb-3">
            <strong>End date:</strong> {{ activeElement.date[1] }}
          </div>
          <hr>
          <div class="col-md-12 mb-3">
            <strong>Exercises:</strong><br>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Status</th>
                    <th>Date(End-Start)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let activity of activeElement.exercise; index as i;">
                    <td>Simple exercise title</td>
                    <td>2020</td>
                    <td>In progress</td>
                    <td>
                      <small>
                        <span class="mx-1 badge bg-secondary">23/12/2021</span>
                        <span class="mx-1 badge bg-secondary">17/01/2022</span>
                      </small>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>