.activities{
  h2{
    font-size: 52px;
    color: #2F80ED;
    font-weight: 200;
  }
  .more{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #2f81ed84;
    display: flex;
    justify-content: center;
    align-items: center;
    .box{
      width: 50%;
      height: 70vh;
      background-color: #ffffff;
      border-radius: 25px;
      box-shadow: #2f81edae 0px 18px 64px;
      color: #2F80ED;
      .title{
        display: flex;
        align-items: center;
        font-size: 22px;
        font-weight: 200;
        .badge{
          height: fit-content;
          font-size: 12px;
          margin-left: 12px;
        }
      }
      .description{
        font-weight: 300;
      }    
      .details{
        font-weight: 200;
      }
    }
  }
}