<div class="side-bar">
  <h1>WDC</h1>
  <ul>
    <a href="/activities"><li class="active"><img src="/assets/imgs/icons/activity.png" alt="icon">Activities</li></a>
    <a href="/admin"><li><img src="/assets/imgs/icons/user.png" alt="icon">Admin</li></a>
    <a href="/attendance"><li><img src="/assets/imgs/icons/calendar.png" alt="icon">Attendance</li></a>
    <a href="/exercise"><li><img src="/assets/imgs/icons/paper.png" alt="icon">Exercise</li></a>
    <a href="/participant"><li><img src="/assets/imgs/icons/user-check.png" alt="icon">Participant</li></a>
    <a href="/responsible"><li><img src="/assets/imgs/icons/user-tie.png" alt="icon">Responsible</li></a>
  </ul>
</div>